venv/
.venv/
__pycache__/
*.pyc
.DS_Store
out/
out_temp/
media/
videos/
cache/
logs/
current_data.json
*.mp4
manual_output.mp4

client_secrets.json
token.json
client_secret*.json

.env

current_input.json
assets/coins/
